@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  /* padding: 20px; */
  /* background-color: rgb(39, 42, 44); */
  /* color: darkcyan; */
}

.dark-mode {
  background-color: rgb(39, 42, 44);
  /* color: #fff; */
}

.areaNumbers{
  width: 300px;
}

.areaLog{
  width: 500px;
}
.areOperations{
  width: 200px;
}
.areaResults{
  width: 400px;
}

.areaButtons{
  /* width: 1050px; */
}

.buttonMas{
  height: 100px;
}
.text-white {
  color: white;
}
